%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"] {
	&::before {
		@extend %ic;
	}
}

._icon-arrow:before {
	content: "\e901";
}

._icon-facebook:before {
	content: "\e900";
}

._icon-pinterest:before {
	content: "\e902";
}

._icon-twitter:before {
	content: "\e903";
}

._icon-instagram:before {
	content: "\ea92";
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48
}