// Заголовки, загальні БЕМ блоки та інше...

//=============== Title ===============//


.title {
   font-family: "Fraunces";
   font-weight: 900;

   &--h1 {
      color: #ffffff;
      font-size: clamp(2.5rem, calc(2.5rem + (56 - 40) * ((100vw - 23.4375rem) / (1440 - 375))), 3.5rem);
      line-height: clamp(3.0625rem, calc(3.0625rem + (69 - 49) * ((100vw - 23.4375rem) / (1440 - 375))), 4.3125rem);
      // letter-spacing: 0.5469rem; // mobile: 0.3906rem
      letter-spacing: clamp(0.3906rem, calc(0.3906rem + (8.7504 - 6.25) * ((100vw - 23.4375rem) / (1440 - 375))), 0.5469rem);
      text-align: center;
      text-transform: uppercase;
   }

   &--h2 {
      color: rgb(36, 48, 62);
      // font-size: 2.5rem;
      // mobile: 2rem
      font-size: clamp(2rem, calc(2rem + (40 - 32) * ((100vw - 23.4375rem) / (1440 - 375))), 2.5rem);
      // line-height: 3.0625rem;
      // mobile: 2.4375rem
      line-height: clamp(2.4375rem, calc(2.4375rem + (49 - 39) * ((100vw - 23.4375rem) / (1440 - 375))), 3.0625rem);
      // letter-spacing: -0.0181rem;
      // mobile: -0.0144rem
      letter-spacing: clamp(-0.0181rem, calc(0.0181rem + (0.23 - 0.2896) * ((100vw - 23.4375rem) / (1440 - 375))), -0.0144rem);
      text-align: left;

      &_testim {
         font-size: 1.125rem;
         line-height: 1.375rem;
         letter-spacing: -0.0081rem;
         text-align: center;
      }
   }

   &--h3 {
      font-size: 1.75rem;
      line-height: 2.1875rem;
      letter-spacing: -0.0125rem;
      text-align: center;

      &_green {
         color: #24554a;
      }

      &_blue {
         color: #052c3b;
      }

   }

   &--h4 {
      color: rgb(167, 170, 173);
      // font-size: 1.25rem;
      // mobile: 1rem
      font-size: clamp(1rem, calc(1rem + (20 - 16) * ((100vw - 23.4375rem) / (1440 - 375))), 1.25rem);
      // line-height: 1.5625rem;
      // mobile: 1.25rem
      line-height: clamp(1.25rem, calc(1.25rem + (25 - 20) * ((100vw - 23.4375rem) / (1440 - 375))), 1.5625rem);
      // letter-spacing: 0.3125rem;
      // mobile: 0.25rem
      letter-spacing: clamp(0.25rem, calc(0.25rem + (5 - 4) * ((100vw - 23.4375rem) / (1440 - 375))), 0.3125rem);
      text-align: center;
      text-transform: uppercase;

      &_testim {
         font-size: 0.875rem;
         font-weight: 600;
         letter-spacing: -0.0063rem;
      }
   }

   &--link {
      color: #24303e;
      font-size: 0.9375rem;
      line-height: 1.5625rem;
      letter-spacing: 0.0625rem;
      text-align: left;
      text-transform: uppercase;
   }
}

//=============== Text ===============//

.text {
   font-weight: 600;

   &--grey {
      color: #808397;
      line-height: 1.875rem;
      letter-spacing: -0.0081rem;
      text-align: left;

   }

   &--colorful {
      font-size: 1rem;
      line-height: 1.6875rem;
      letter-spacing: -0.0069rem;
      text-align: center;

      &_green {
         color: #3e7467;
      }

      &_blue {
         color: #19536c;
      }
   }

   &--dark-grey {
      color: #5b636d;
      line-height: 2rem;
      letter-spacing: -0.0081rem;
      text-align: center;
   }

   &--hdft {
      line-height: 1.5625rem;
      letter-spacing: -0.0081rem;
      text-align: left;



      &_hd {
         color: #ffffff;
         font-size: clamp(1.125rem, calc(1.125rem + (20 - 18) * ((100vw - 23.4375rem) / (1440 - 375))), 1.25rem);
         letter-spacing: clamp(-0.0088rem, calc(-0.0088rem + (-0.13 - -0.14) * ((100vw - 23.4375rem) / (1440 - 375))), -0.0081rem);

      }

      &_ft {
         color: #458d7e;
      }
   }
}

//=============== Button ===============//

.button {
   position: relative;
   display: inline-flex;
   flex-shrink: 0;
   padding: 0.9375rem 1.9375rem;
   border-radius: 1.75rem;
   background: rgb(255, 255, 255);
   color: #24303e;
   font-family: "Fraunces";
   font-size: 0.9375rem;
   font-weight: 700;
   line-height: 1.5625rem;
   letter-spacing: -0.0069rem;
   text-align: center;
   text-transform: uppercase;
   overflow: hidden;
   z-index: 2;
   transition: all 0.3s ease 0s;


   span {
      z-index: 3;
      position: relative;
   }

   @media (any-hover: hover) {
      &:hover {
         background: rgba(255, 255, 255, 0.25);
         color: #ffffff;
      }
   }

   @media (max-width: $mobile) {
      background: rgb(251, 214, 0);
   }
}

.material-symbols-outlined {
   font-size: 108px !important;
   color: #fff;
}