//====================================================================================================
.footer {
   background: rgb(144, 212, 198);

   // .footer__container

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 72px 0;
   }

   // .footer__logo

   &__logo {
      &:not(:last-child) {
         margin-bottom: 40px;
      }

      svg path {
         width: 100%;
         max-width: 100%;
         height: auto;
         fill: rgb(44, 117, 102);
      }
   }

   // .footer__menu

   &__menu {
      &:not(:last-child) {
         margin-bottom: 88px;
      }
   }

   // .footer__social

   &__social {
      display: flex;
      column-gap: 28px;
   }
}

.menu-footer {


   // .menu-footer__body

   &__body {}

   // .menu-footer__list

   &__list {
      display: flex;
      column-gap: 57px;
   }

   // .menu-footer__item

   &__item {}

   // .menu-footer__link

   &__link {
      @media (any-hover: hover) {
         &:hover {
            color: #fff;
         }
      }
   }
}

.social-footer {

   // .social-footer__icon

   &__icon {
      font-size: 20px;
      color: rgb(44, 117, 102);

      @media (any-hover: hover) {
         &:hover {
            color: #fff;
         }
      }
   }
}

//====================================================================================================