.header {
   background: #44BCF7 url('@img/main.svg') center center / auto 100vh no-repeat;
   height: 100vh;
   // width: 100vw;
   overflow: hidden;
   z-index: 100;

   // .header__container

   &__container {}

   // .header__main

   &__main {
      display: flex;
      justify-content: space-between;
      padding: clamp(32px, calc(32px + (34 - 32)* ((100vw - 375px) / (1440 - 375))), 34px) clamp(9px, calc(9px + (25 - 9)* ((100vw - 375px) / (1440 - 375))), 25px);
      // padding: 34px 29px; // 32 24

      &:not(:last-child) {
         // margin-bottom: 71px; // 105 - 34
         // margin-bottom: 56px; // 88 - 32
         margin-bottom: clamp(56px, calc(56px + (71 - 56)* ((100vw - 375px) / (1440 - 375))), 71px);
      }
   }

   // .header__logo

   &__logo {
      justify-self: center;
      align-self: center;

      svg {
         height: clamp(24px, calc(24px + (33 - 24) * ((100vw - 375px) / (1440 - 375))), 33px);
         width: auto;
      }

      svg path {
         width: 100%;
         max-width: 100%;
         height: auto;
      }
   }

   // .header__menu

   &__menu {}

   // .header__button

   &__button {}

   // .header__content

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   // .header__title

   &__title {

      &:not(:last-child) {
         // margin-bottom: 97px; // mobile: 52

         margin-bottom: clamp(52px, calc(52px + (97 - 52)* ((100vw - 375px) / (1440 - 375))), 97px);
      }
   }

   // .header__icon

   &__icon {
      font-size: 108px;
      color: #fff;
   }
}